* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: black;
    color: aliceblue;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;


    & img {
        width: 250px;
    }

    & nav {
        & ul {
            cursor: pointer;
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }

}

section {
    background-image: radial-gradient(#252440, #302c9b);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 65%;

                & img {
                    width: 100%;
                    transform: rotate(-30deg);
                }

                &::before{
                    content: '';
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100px;
                    top: 125%;
                    left: 50px;
                    border-radius: 50%;
                    filter: blur(50px);
                }

            }

            & .content {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;



                & .car-info {
                    font-weight: bold;

                }

                & h2 {
                    font-size: 8em;
                    line-height: 1em;
                    font-family: "League Gothic", sans-serif;
                }

                & .description {
                    color: #d9d9dd;
                    font-size: 15px;
                    text-align: right;
                    max-width: 400px;
                }

                & .info-buttom {
                    cursor: pointer;
                    border-radius: 30px;
                    height: 40px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #13136e;
                    background-color: #2f2c79;
                    color: #d9d9dd;
                    font-weight: bold;



                }





            }
        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #fff;
        }
    }

    .arrow {

        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -25px);
        justify-content: space-between;

        & button:nth-child(1) {
            & img {

                transform: scale(-1);
            }

        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {

                width: 30px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover {
                background-color: #13136e;
            }

        }
    }

    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: "League Gothic", sans-serif
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #13136e;
                border-radius: 5px;
                transition: 0.5s;
            }

            & .active {
                background-color: aliceblue;
            }
        }



    }

}

section {
    & .list {

        --calculation: 1;                                                                                    
        & .item {
            transform: translateX(calc(100vw * var(--calculation)) );
            transition: 0.5s;
            opacity: 0;

            & .car-img {

                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;

                }
            }

            & .content {

                & .car-info,
                h2,
                .description,
                .info-buttom {
                    transform: translateX((calc(200px * var(--calculation)) ));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;

                }

                & h2 {
                    transition-delay: 0.5s;

                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .info-buttom {
                    transition-delay: 0.9s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .car-img {

                & img {
                    transform: rotate(-20deg);
                    transition-delay: 0.3s;
                    

                }
            }



            & .content {

                & .car-info,
                h2,
                .description,
                .info-buttom {
                    transform: translateX(0);
                    opacity: 1;


                }
            }

        }

    }
}